# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/

# ===============================
# OS
# ===============================
Thumbs.db
Desktop.ini

# ===============================
# Editor
# ===============================
.vscode/

# ===============================
# Data (generated)
# ===============================
*.tsv
*.csv
*.xlsx

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Backup files
# ===============================
*.BAK
